.main {}

.header {
    width: 100%;
    height: 55px;
    background-color: #0c6;
}

.header__logo {
    height: 100%;
    width: 342px;
    cursor: pointer;
}

.header__sreach {
    display: flex;
    margin: auto 0;
}

.header__sreach-input {
    width: 400px;
    height: 30px;
    outline: none;
    font-size: 1.4rem;
    padding: 0 0 0 12px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.header__sreach-icon {
    padding: 8px 15px;
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.3rem;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}


.header__control {
    display: flex;
    flex: 1;
    justify-content: right;
    font-weight: 600;
    align-items: center;
    font-size: 1.4rem;
}

.header__control-icon {
    margin-left: 6px;
}

.header__control-login {
    position:relative;
    display: flex;
    width: 140px;
    color: var(--white-color);
    margin-right: 32px;
    cursor: pointer;
}

.header__control-login:hover .header__login-list{
    display:block;
}
.header__control-login:after {
    position: absolute;
    content: "";
    display: block;
    bottom: -20px;
    width: 100%;
    height: 20px;
    right: 0;
   
}

.header__login-list {
    --height:70px;
    --height-10:calc(var(--height) + 10px);
    position:absolute;
    bottom:calc(var(--height-10) * -1);
    right:0;
    width:100%;
    background-color:#f2f2f2;
    list-style: none;
    padding-left:0;
    height:var(--height);
    z-index:2;
    display:none;
    animation: fadeIn 0.5s ease;
    border-radius:4px;
}

.header__login-list::before {
    content: "";
    --height-logged-list: 30px;
    border-width: 20px var(--height-logged-list);
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    top: calc(var(--height-logged-list) * -1);
    right: 0;
}

.header__login-item {
    font-size:1.6rem;
    color:var(--text-color);
    padding:8px 10px;
    border-top:1px solid #ccc;
}

.header__login-item:hover {
    opacity: 0.5;
}

.header__control-logged {
    margin-right: 32px;
    position: relative;
    cursor: pointer;

}

.header__control-logged:hover .header__control-logged-list {
    display: block;
}

.header__control-logged::after {
    position: absolute;
    content: "";
    display: block;
    width: calc(100% + 50px);
    height: 30px;
    right: 0;
}

.header__control-logged-list {
    --height-logged-list: 130px;
    --height-logged-list-10: calc(var(--height-logged-list) + 10px);
    position: absolute;
    bottom: calc((var(--height-logged-list-10) * -1));
    right: 0;
    padding-left: 0;
    list-style: none;
    background-color: #f2f2f2;
    width: 160px;
    height: var(--height-logged-list);
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: none;
    animation: fadeIn 0.5s ease;
    z-index: 1;
}

.header__control-logged-list::before {
    content: "";
    --height-logged-list: 30px;
    border-width: 20px var(--height-logged-list);
    border-style: solid;
    border-color: transparent transparent #f2f2f2 transparent;
    position: absolute;
    top: calc(var(--height-logged-list) * -1);
    right: 0;
}

.header__control-logged-item {
    padding: 8px;
    color: var(--text-color);
}

.header__control-logged-item:hover {
    opacity: 0.5;
}

.header__control-logged-item:last-child {
    border-top: 1px solid #ccc;
}

.header__control-logged-icon,
.header__control-logged-name {
    color: var(--white-color);
}

.header__control-logged-name {
    margin-left: 4px;
}

.header__control-cart {
    display: flex;
    width: 84px;
    color: var(--white-color);
    cursor: pointer;
}


/* Header navigation */
.header-navigation {
    height: 32px;
    background-color: #f2f2f2;
}

.header__navigation-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navigation__menu {
    display: flex;
    font-size: 1.4rem;
    width: 210px;
    height: 30px;
    background-color: var(--white-color);
    align-items: center;
    color: #595959;
    text-transform: uppercase;
    border-radius: 3px;
}

.header-navigation__menu-icon {
    margin: 0 6px;
}

.header-navigation__menu-title {
    margin-left: 4px;
}

.header-navigation__contact {
    display: flex;
    align-items: center;
    width: 178px;
    justify-content: space-evenly;
}

.header-navigation__contact-icon,
.header-navigation__contact-number {
    font-size: 13px;
    color: var(--primary-color);
}

.header-navigation__contact-text {
    font-size: 14px;
    font-weight: 600;

}

.header-navigation__contact-number {
    font-weight: 600;
}

/* Header menu  */

.header__menu-list {
    position:fixed;
    list-style:none;
    padding-left:0;
    background-color:var(--black-color);
    width:0;
    height:100%;
    left:0;
    top:0;
    z-index:2;
    cursor: pointer;
    overflow-x: hidden;
    transition: 0.3s;
}

.header__menu-item {
    position:relative;
    color:var(--white-color);
    padding:12px 20px;
}

.header__menu-item-underline{
    border-bottom:2px solid #ccc;
    width:80%;
    margin-left:20px;
}

.header__menu-item-wrap {
    padding-left:20x;
}
.header__menu-item-wrap:hover {
    color:var(--primary-color);
}
.header__menu-title {
    font-size:2rem;
    color:var(--white-color);
    text-align:center;
    border-bottom: 2px solid #0c6;
    padding:10px 0;
}
.header__menu-name {
    font-size:2rem;
    position:relative;
    display:block;
    margin-left:8px;
}

.header__menu-name:hover .header__menu-item-icon-down {
    transform:translateY(-50%) rotate(-180deg);
}
.header__menu-item-icon {
    font-size:1.6rem;
    margin-right:8px;
    position:absolute;
    left:0
}

.header__menu-item-icon-left {
    position:absolute;
    right:30px;
    top:20%;
    font-size:2rem;
    color:var(--primary-color);
}

.header__menu-item-icon-down {
    position:absolute;
    right:40px;
    top:50%;
    transform: translateY(-50%);
    font-size:2rem;
    transition:transform 0.4s;
}

.header__submenu-list {
    list-style:none;
    padding-left:50px;
    display:none;
}

.header__submenu-list-account.show{
    display:block;
}

.header__submenu-list-stading.show {
    display:block;
}

.header__submenu-list-favorite.show {
    display:block;
}
.header__submenu-item {
    font-size:1.4rem;
    padding:10px 0;
}

.header__submenu-item:hover {
    color:var(--primary-color);
}

.header__submenu-item-icon {
    margin-right:8px;
}



/* Container */
.container-top {
    display: flex;
}

.container-tasbar__list {
    list-style: none;
    padding-left: 0;
    position: relative;
}

.container-tasbar__item {
    display: flex;
    justify-content: space-between;
    padding: 10px 4px;
    width: 210px;
    cursor: pointer;
}



.container-tasbar__item:hover {
    background-color: var(--primary-color);
}

.container-tasbar__item:hover .container-tasbar__item-text {
    color: var(--white-color);
    transform: translateX(20px);
}

.container-tasbar__item:hover .container-tasbar__item-icon {
    display: none;
}

.container-tasbar__item:hover .container-tasbar__subnav {
    display: block;
}

.container-tasbar__item-text--bold {
    font-weight: bold;
}

.container-tasbar__item-text {
    font-size: 1.4rem;
    color: var(--text-color);
    transition: transform 0.5s;
}

.container-tasbar__item-icon {
    color: #d7d8da;
    font-size: 1.2rem;
}

.container-tasbar__subnav {
    --width-subnav: 245px;
    position: absolute;
    ;
    right: calc(var(--width-subnav) * -1);
    top: 0;
    width: var(--width-subnav);
    height: 400px;
    padding-left: 0;
    list-style: none;
    background: #f2f2f2;
    border-left: var(--primary-color) 3px solid;
    display: none;
    animation: fadeIn 0.5s ease;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.container-tasbar__subnav.container-tasbar__subnav-large {
    --width-subnav: 405px;
    position: absolute;
    right: calc(var(--width-subnav) * -1);
    top: 0;
    width: var(--width-subnav);
    height: 610px;
    padding-left: 0;
    list-style: none;
    background: #f2f2f2;
    border-left: var(--primary-color) 3px solid;
    display: none;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container-tasbar__subnav-item {
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 12px;
}

.container-tasbar__subnav-item:hover {
    color: var(--primary-color);
}

.container-tasbar__subnav-item--active {
    color: var(--primary-color);
}

.container-tasbar__subnav-item--active:hover {
    color: var(--black-color);
}

.container-slider {
    flex: 1;
    position: relative;
    height: 397px;
}

.container-slider__img {
    width: 100%;
    height: 100%;
    animation: fadeIn 0.5s ease;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.container-slider__control {
    color: #d9d9d9;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: relative;
    top: -40px;
}


.container-slider__control-dot {
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.container-slider__control-dot:hover {
    color: var(--primary-color);
}

.container-slider__control-dot--active {
    color: var(--primary-color);
}

/* Container list */
.container-list {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.container__item {
    position: relative;
    margin-bottom: 24px;
}

.container__item-title {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    height: 38px;
    width:100%;
    border-radius: 4px;
}

.container__item-title-text {
    position: relative;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 10px 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.container__item-title-text::after {
    position: absolute;
    right: -40px;
    top: 0;
    content: "";
    display: block;
    border-width: 19px 20px;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);

}

.container__item-title-link {
    text-decoration: none;
    font-size: 1.4rem;
    padding: 10px;
    color: var(--text-color);
}

.container__item-title-link:hover {
    color: var(--primary-color);
}


.container__item-wrap:hover .container__item-wrap-button {
    display: block;
}

.container__item-wrap-button {
    display: none;
}

.container__item-wrap {
    width: 100%;
    overflow: hidden;
}

.container__item-content {
    position: relative;
    display: flex;
    /* width:2400px; */
    /* justify-content: space-evenly; */
}

.container__content-book {
    position: relative;
    width: 219px;
    height: 309px;
    margin-top: 28px;
}

.container__item-book-wrap {
    position: absolute;
    right: 0;
    width: 130px;
    cursor: pointer;
}

.container__content-book:hover {
    transform: translateY(-10px);

}

.container__content-book-img {
    width: 100%;
    height: 173px;

}

.container__content-book-name {
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 300;
    line-height: 2.4rem;
    text-align: left;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* Category */

.container__content-book-name-category {
    margin-top: 30px;
    width: 179px;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: bold;
    text-align: left;
    line-height: 2.4rem;
}


.container__content-book-author {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.container__content-book-new-price {
    display: block;
    margin-top: 10px;
    color: var(--black-color);
    font-weight: 600;
    font-size: 1.4rem;
}

.container__content-book-old-price {
    color: #999;
    font-size: 1.2rem;
    display: block;
    margin-top: 10px;
    text-decoration: line-through;
}

.container__content-book-discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 24px;
    text-align: center;
    background-color: #ffc000;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
}

.container__content-book-discount::after {
    position: absolute;
    bottom: -20px;
    right: 0;
    content: "";
    display: block;
    border-width: 10px 24px;
    border-style: solid;
    border-color: #ffc000 transparent transparent transparent;
}

.container__item-button {
    display: none;
}

.container__item:hover .container__item-button {
    display: block;
}

/* Footer */

.footer {
    margin-top: 100px;
    background-color: var(--primary-color);
}

.footer__content {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
    line-height: 3rem;
}

.footer__content-list {
    padding-left: 0;
    list-style: none;
}

.footer__content-title {
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: bold;
}

.footer__content-email,
.footer__content-hotline,
.footer__content-phone {
    font-size: 1.2rem;
    color: var(--white-color);
}


.footer__content-link a {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}

.footer__no-copy-right {
    font-size: 1.4rem;
    color: var(--black-color);
    text-align: center;
    letter-spacing: 2px;
}